<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img src="{{ `images/branching_paths.png` | relURL }}" alt="branching narratives" width="100" height="100">
        <h2 class="h2">Endlessly branching</h2>
        <p>Generate infinitely branching narratives with procedural characters who experience genuine emotional arcs.</p>
    </div>
    <div class="col-lg-4">
        <img src="{{ `images/heart.png` | relURL }}" alt="emotion first" width="100" height="100">
        <h2 class="h2">Emotion first</h2>
        <p>Let characters evolve meaningfully without repetitive dialogue. Focus on crafting deep emotional journeys while Character Arc handles dynamic, context-aware interactions.</p>
    </div>
    <div class="col-lg-4">
        <img src="{{ `images/dialogue.png` | relURL }}" alt="context-aware" width="100" height="100">
        <h2 class="h2">Context-aware</h2>
        <p>Ensure dialogue naturally adapts to character backstories and pre-defined lore elements. Character Arc keeps every interaction consistent and immersive.</p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Scale effortlessly</h2>
        <p>Reduce the cost of creating massive games with thousands of pages of dialogue. Character Arc generates dynamic, high-quality conversations at scale.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Seamless integration</h2>
        <p>Easily integrate with Unity, Unreal, and more. Character Arc’s API is designed for effortless implementation in any game engine.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Nuanced localization</h2>
        <p>Support multiple languages while preserving tone and nuance. Character Arc ensures dialogue feels natural in every translation.</p>
    </div>
</div>
